{% extends "base.html" %}

{% block title %}Forget goals. Form habits.{% endblock %}
{% block body_class %}home{% endblock %}

{% block body %}
  
  <div class="welcome">
    <img src="/images/welcome_logo@2x.png" height="210" width="210">
    <h1 class="">Forget goals. <em>Form habits.</em></h1>
    <p>Visualize your progress and create smart reminders.</p> 
  </div>

  <section class="tombstone">
    <h2 class="minor-heading">Gone, but not forgotten</h2>
    <p>
      Thanks for stopping by!
      Be Habitual was a fun project while it lasted, but it is
      <strong>no longer operational</strong>.
      There are plenty of
      <a href="https://www.wired.com/story/best-apps-build-habits-stick-to-them/">other habit-building apps</a>
      available to help you on your way.
    </p>
  </section>
  
 <section class="quickstart">
    <h2 class="minor-heading">What habit are you trying to form?</h2>
    <form action="/add_habit" method="POST">
      <input type="hidden" name="onboarding_wizard-current_step" value="habit">
      <p>
        <label for="id_habit-description">I want to <input disabled id="id_habit-description" maxlength="100" name="habit-description" placeholder=" brush my teeth" type="text" /></label>,
        <span><label for="id_habit-target_value"><input disabled id="id_habit-target_value" name="habit-target_value" placeholder="2" type="text" /> times</label>
        <label for="id_habit-resolution">per <select disabled id="id_habit-resolution" name="habit-resolution">
          <option value="day">day</option>
          <option value="weekday">day on weekdays</option>
          <option value="weekendday">day on weekends</option>
          <option value="week">week</option>
        </select></label></span>
      </p>
      <button type="submit" class="progress" disabled>Get started!</button>
    </form>
  </section>

  <section class="examples">
    <h2 class="minor-heading">Example Stories</h2>
    <div class="example">
        <img src="/images/home-teeth@2x.png" height="150" width="222">
        <p>Stephanie uses Be Habitual to <strong>brush her teeth</strong> right after she <strong>eats breakfast</strong>.</p>
    </div>
    <div class="example">
        <img src="/images/home-cycle@2x.png" height="150" width="222">
        <p>George <strong>cycles to work daily</strong> thanks to reminders from Be Habitual. Neat.</p>
    </div>
    <div class="example">
        <img src="/images/home-you@2x.png" height="150" width="222">
        <p>You <strong>change your routine</strong> slightly and <strong>form new habits</strong>. Because awesome.</p>
    </div>
  </section>
  
  <h2 class="minor-heading">
    That&rsquo;s really all there is!
  </div>

<a href="/hobbit" id="hobbit"><img src="/images/ring@2x.png" alt="" height="25" width="25"></a>
{% endblock %}
